/*
 ##########################################################
 START DO NOT CHANGE ZONE
 ##########################################################
*/

html {
  box-sizing: border-box;

  color: #222;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
}

header {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

h1 {
  margin: 0;

  font-size: 1.5rem;
}

.chapter-num {
  display: block;

  font-size: 1rem;
  font-style: italic;
}

.colon {
  display: none;
}

main {
  padding: 1.5rem 0;
}

p {
  margin: 0;

  text-indent: 1.3em;
}

p:first-child {
  text-indent: 0;
}

main > p:first-child::first-line {
  font-style: italic;
}

footer {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

/*
 ##########################################################
 END DO NOT CHANGE ZONE
 ##########################################################
*/

/* Write your CSS here */

main.wrapper:nth-of-type(1)::first-letter {
  font-style: normal;
  font-size: 5rem;
  background-color: #666;
  color: #f2f2f2;
  font-weight: normal;
  padding: .1em .2em;
  float: left;
  margin-right: 15px;
  border-top: solid 3px #333;
  border-bottom: solid 3px #333;
  margin-left: -60px
}

figure {
  float: right;
  width: 300px;
  border-top: solid 3px #333;
  border-bottom: solid 3px #333;
  padding: 6px;
  margin-left: .6em;
  margin-right: -150px;

}

figcaption {
  font-style: italic;
  font-size: .875rem;
}

blockquote {
  text-align: right;
  font-size: 1.5rem;
  float: left;
  width: 300px;
  border-top: solid 3px #333;
  border-bottom: solid 3px #333;
  color: #666;
}
